.footer {
  background: #000000;
  color: white;
  width: 100vw;
  position: fixed;
  bottom: 0;
}

.container-main {
  height: 75vh;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
